{% extends '../document.html' %}

{% block title %}{{user.Name}}的主页{% endblock %}

{% block body%}
<style>
#profile-header {line-height: 64px;padding: 10px}
.profile-avatar {width: 64px;height: 64px;float: left;border-radius: 50%}
.profile-username {font-size: 20px;margin: 0 0 0 85px;display: block;}

.signout-btn {float: right;}

.profile {padding: 10px;line-height: 26px;} 
.profile .title {font-size: 18px;margin-top: 10px;color: rgba(15, 76, 129, 1);border-bottom: .5px solid #ccc;}
.profile ul {list-style: none;padding: 5px 0;}

.profile .non-k {padding: 10px 0;}
</style>
<header id="profile-header">
{% if session %}
<a class="signout-btn" href="/signout">退出登录</a>
{% endif %}
<img class="profile-avatar" src="{{user.Avatar}}" /><span class="profile-username">{{user.Name}}</span>
</header>
<div class="profile">
    <div class="title">基本信息</div>
    <ul>
        <li>邮箱：{{user.Email}}</li>
        <li>状态：正常</li>
    </ul>
    <div class="title">知识</div>
    {% if discusses %}
    <ul>
        {% for d in discusses %}
        <li><a href="/d/{{d.ShortSha1}}">{{d.Name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="non-k">神秘！目前为止还未发表任何言论</div>
    {% endif %}
</div>
{% endblock %}
