{% extends '../document.html' %}

{% block title %}重置密码{% endblock %}

{% block body%}
<div class="sign-area">
    <div class="current-user">{{user.Name}}</div>
    <form method="post" action="/reset-password">
        <input type="password" name="password" />
        <input type="password" name="token" value="{{token}}" style="display: none" />
        <input type="submit" value="重置密码" />
    </form>
    <div class="sign-links">
        <ul>
            <li><a href="/signup">注册帐号</a></li>
            <li><a href="/signin">登录</a></li>
        </ul>
    </div>
</div>
{% endblock %}