{% extends '../document.html' %}

{% block title %}登录{% endblock %}


{% block header %}
<style>
    .x-login-btn {display: none;}
</style>
{% endblock %}

{% block body%}
<div class="sign-area">
    <div class="sign-tips">好久不见</div>
    <form method="post" action="/signin">
        <input type="text" name="signin" placeholder="帐号" required />
        <input type="password" name="password" placeholder="密码" required />
        <input type="submit" value="登录" />
    </form>
    <div class="sign-links">
        <ul>
            <li><a href="/signup">注册帐号</a></li>
            <li><a href="/reset-password-request">重置密码</a></li>
        </ul>
    </div>
</div>
<script>
    var us = new URLSearchParams(window.location.search)
    if(us.has("l")) {
        var f = document.querySelector(".sign-area form")
        f.action = f.action + "?l=" + us.get("l")
    }
</script>
{% endblock %}
