{% extends '../document.html' %}

{% block title %}{{discuss.Name}} - {{site.Name}}{% endblock %}
{% block header %}
<style>
    h1 {
        line-height: 28px;
        font-size: 20px;
        font-weight: 400;
        padding: 0 0 5px 0;
        margin-top: -20px;
        margin-bottom: 0;
        border-bottom: 1px solid var(--border);
        color: #3f3f3f;
    }

    h2 {
        text-align: center;
        line-height: 1.75;
        font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        display: table;
        margin: 2em auto 2em;
        padding: 0 0.2em;
        background: rgba(15, 76, 129, 1);
        color: #fff;
    }

    strong {
        text-align: left;
        line-height: 1.75;
        color: rgba(15, 76, 129, 1);
        font-weight: bold;
    }

    blockquote {
        text-align: left;
        line-height: 1.75;
        font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        border-left: none;
        padding: 1em;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.5);
        background: #f7f7f7;
        margin: 2em 8px;
    }

    p {
        text-align: left;
        line-height: 1.75;
        font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
        font-size: 14px;
        margin: 10px 0;
        letter-spacing: 0.1em;
        color: #3f3f3f;
    }

    code {
        text-align: left;
        line-height: 1.75;
        font-size: 90%;
        white-space: pre;
        color: #d14;
        background: rgba(27, 31, 35, .05);
        padding: 3px 5px;
        border-radius: 4px;
    }

    .markdown-body {margin: 0;padding: 0 10px;}

    .markdown-body img {display: block;margin: auto;}

    .post-comment {
        padding: 10px 20px 10px 10px;
    }

    .post-comment textarea {
        width: 100%;
    }

    .non-comment {
        padding: 20px 10px;
        font-size: 17px;
        color: var(--border);
        line-height: 24px;
        font-style: italic;
        text-align: center;
    }

    .comments p {margin: 0 8px;}
    .comments .comment-top {
        line-height: 22px;
        margin: 5px 0 -5px 0;
    }

    .comments .comment-top .avatar {
        float: left;
        width: 22px;
        height: 22px;
        margin: 0 5px 0 0;
    }

    .comments .comment-top .author {
        font-size: 16px;
    }

    .comments .comment-top .time {
        font-size: 12px;
        color: #555;
        float: right;
        margin-top: -3px;
    }

    .comments ul li {
        border-top: .5px solid #ccc;
        margin: -10px 10px 0 10px
    }

    @media screen and (min-width: 1080px) {
        h1 {
            font-size: 26px;
            padding: 10px 0 15px 0;
            margin-top: 0;
        }
    }
</style>
{% endblock %}
{% block body%}
<div style="padding: 0 10px;margin-top: 2em;"><h1>{{discuss.Name}}</h1></div>
<div class="markdown-body">
    {% autoescape off %}
    {{discussHTML}}
    {% endautoescape %}
</div>
<div class="comments">
    {% if comments|length == 0 %}
    <div class="non-comment">
        {% if session %}点击下面{% else %}<a href="/signin?l=/d/{{discuss.ShortSha1}}">登录</a>{% endif %}「 发表评论 」做价值掘金第一人
    </div>
    {% else %}
    <ul>
        {% for comment in comments %}
        <li>
            <div class="comment-top">
                <img title="avatar" class="avatar" src="{{comment.Initiator.Avatar}}" />
                <span class="time">{{comment.CreateTime}}</span>
                <a class="author" href="/u/{{comment.Initiator.ShortSha1}}">{{comment.Initiator.Name}}</a>
            </div>
            <div class="markdown-body">
                {% autoescape off %}
                {{comment.CommentHTML}}
                {% endautoescape %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% if session %}
<div class="post-comment">
    <form method="post" action="/d/{{discuss.ShortSha1}}/comment">
        <textarea name="comment" placeholder="你的精彩论点" required></textarea>
        <input type="submit" value="发表评论" />
    </form>
    <div style="clear:both"></div>
</div>
{% endif %}
{% endblock %}