{% extends '../document.html' %}

{% block title %}在区域〘{{division.Name}}〙发起讨论{% endblock %}

{% block body%}
<div class="post-tips">
    <div class="post-region">{{division.Name}}</div>
    <div class="post-region-about">{{division.About}}</div>
</div>
<div class="post-area">
    <form method="post" action="/r/{{division.ShortSha1}}/discuss">
        <input type="text" name="title" />
        <textarea name="content"></textarea>
        <input type="submit" value="发布" />
    </form>
</div>
{% endblock %}

