{% extends '../document.html' %}

{% block title %}首页{% endblock %}

{% block header %}
<style>
    header {line-height: 32px;padding: 10px;}
    header .avatar {float: left;margin-right: 5px;}
    header span {font-size: 16px;}
    .recommends li {line-height: 22px;}
    .recommends li .avatar2profile {float: left;width: 22px;height: 22px;padding: 0 10px 0 0 ;}
</style>
{% endblock %}

{% block body%}
<header>
    <a href="/region-selector">发布一个讨论</a>
</header>
<ul class="recommends">
{% for r in recommends %}
    <li>
        <a class="avatar2profile" href="/u/{{r.Initiator.ShortSha1}}"><img src="{{r.Initiator.Avatar}}" title="{{r.Initiator.Name}}" /></a>
        <a class="discuss" href="/d/{{r.ShortSha1}}">{{r.Name}}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}

